<section class="container">
    <section class="hoje">
        <section class="info-grid">
            <section>
                
                <main>
                    26%
                </main>
                <footer>
                    Úmidade
                </footer>
            </section>
            <section>
                
                <main>
                    4
                </main>
                <footer>
                    UV
                </footer>
            </section>
            <section>
                
                <main>
                    4km/h
                </main>
                <footer>
                    Velocidade do vento
                </footer>
            </section>
            <section>
            <main>
                35mm
            </main>
            <footer>
                Precipitação
            </footer>
        </section>
            <section>
                
            <main>
                123
            </main>
            <footer>
                Qualidade do ar
            </footer>
        </section>
            <section>
                
            <main>
                152
            </main>
            <footer>
                Pólem
            </footer></section>
        </section>
        <section class="info">
            <main>
                <section>
                    <h3>Apiúna</h3>
                </section>
                <section>
                    <h1>
                        26°
                    </h1>
                    <strong>Predominantemente Nublado</strong>
                </section>
            </main>
            <footer>
                <em>Min: 22° Max: 30°</em>
            </footer>
        </section>
    </section>
    <section class="futuro">

    </section>
    <section class="futuro">

    </section>
</section>
