<section class="container">
    <section class="indicador">
        <header>
            <p>Pendente colheita</p></header>
        <main>
            <strong>3</strong></main>
        <footer><em>árvores</em></footer>
    </section>
    <section class="indicador">
        <header>
            <p>Pendente fertilização</p></header>
        <main>
            <strong>5</strong></main>
        <footer><em>árvores</em></footer>
    </section>
    <section class="indicador">
        <header>
            <p>Pendente defensivo</p></header>
        <main>
            <strong>1</strong></main>
        <footer><em>árvores</em></footer>
    </section>
    <section class="indicador">
        <header>
            <p>Pendente Foto</p></header>
        <main>
            <strong>3</strong></main>
        <footer><em>árvores</em></footer>
    </section>
</section>
