<app-nav></app-nav>

<section class="ajusta-secao">
    <section class="indicador-numero">
        <app-indic-numero></app-indic-numero>
    </section>
    <section class="caixa">
        <section class="coluna">
            <section class="ultima-foto">
                <app-ultima-foto></app-ultima-foto>
            </section>
            <section class="previsao-tempo">
                <app-previsao-tempo></app-previsao-tempo>
            </section>
        </section>
        <section class="historico">
            <app-historico></app-historico>
        </section>
    </section>
</section>