<section class="nav">
    <header>
        <img src="/assets/img/logo2.png">
    </header>
    <main>
        <a>Home</a>
        <details>
            <summary>Administração</summary>
            <section>
                <a>Usuário</a>
                <a>Materiais</a>
                <a>Entidade</a>
            </section>
        </details>
        <details>
            <summary>Pomar</summary>
            <section>
                <a>Ver Pomar</a>
                <a>Plantar</a>
                <a>Colher</a>
            </section>
        </details>
        <details>
            <summary>Estoque</summary>
            <section>
                <a>Movimentar</a>
                <a>Relatório</a>
            </section>
        </details>
        <details>
            <summary>Comercial</summary>
            <section>
                <a>Faturar</a>
                <a>Pedidos</a>
                <a>Relatório</a>
            </section>
        </details>
        <details>
            <summary>Compras</summary>
            <section>
                <a>Ord. compra</a>
                <a>Relatório</a>
            </section>
        </details>
    </main>
    <footer>
        <a>Sair</a>
    </footer>
</section>
